<!DOCTYPE html>
<html>
	<head>
		<title>"Ruby on Rails tutorial sample App | About"</title>
	</head>
	
	<body>
		<h1>About</h1>
		<p>Go check the heroku server <a href="http://cwqt-sample-app.herokuapp.com/">here</a></p>
	</body>
</html>
