<h1>About Us</h1>
<p>This is a sample_app created in the tutorial for ruby on rails which is found
	in <a href="http://www.youtube.com/watch?v=JkbXeDx8a4g&list=PLVBFw0Pn9e9L7SOKtL8x4Av39drO5Oi-Q">here</a></p>
